# Built-In Data Structures, Functions, and Files

## Data Structures and Sequences

### Tuple
This is an ordered collection of items in Python that is immutable (cannot be changed after creation).

The easiest way to create one is with a comma-separated sequence of values wrapped in parentheses.

In [1]:
tup = (4, 5, 6)

In [2]:
tup

(4, 5, 6)

#####
The parentheses can also be omitted in many instances.

In [3]:
tup = 4, 5, 6

In [4]:
tup

(4, 5, 6)

#####
Any sequence or iterator can be converted by invoking tuple.

In [5]:
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

#####
Elements can be accessed with square brackets [] as with most other sequence types.

Sequences are 0-indexed.

In [9]:
tup[0]

's'

#####
It's necessary to enclose the values in parentheses, when defining tuples within more complicated expressions.

In [10]:
nested_tup = (4, 5, 6), (7, 8)

In [12]:
nested_tup

((4, 5, 6), (7, 8))

In [13]:
nested_tup[0]

(4, 5, 6)

In [14]:
nested_tup[1]

(7, 8)

#####
Once a tuple is created it's impossible to modify the object stored in each slot. Unlike objects stored in a a tuple as they may be mutable themselves.

In [15]:
tup = tuple(['foo', [1, 2], True])

In [16]:
tup[2] = False  # This will raise a TypeError because tuples are immutable

TypeError: 'tuple' object does not support item assignment

#####
If an objects is mutable inside a tuple is mutable, such as a list, you can modify it in place.

In [17]:
tup[1].append(3)  # This will work because the list inside the tuple is mutable

In [18]:
tup

('foo', [1, 2, 3], True)

#####
Tuples can be concatenated using the + operator to produce longer tuples

In [19]:
(4, None , 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

#####
Multiplying a tuple by an integer, as with lists, has the effect of concatenating that many copies of the tuple.

In [20]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#####
NB: The objects themselves are not copied, only the references to them.

#### Unpacking Tuples
Tuple unpacking is the process of extracting individual values from a tuple and assigning them to separate variables in a single operation. It's like opening a package and taking out each item to put in different places.

In [21]:
tup = (4, 5, 6)

In [22]:
a, b, c = tup

In [23]:
b

5

#####
Even sequences with nested tuples can be unpacked

In [24]:
tup = 4, 5, (6, 7)

In [25]:
a, b, (c, d) = tup

In [26]:
d

7

#####
Using the unpacking tuple functionality you can easily swap variable names, a task that in many languages might look like.

In [27]:
tmp = a
a = b
b = tmp

#####
But in python, the swap can be done like shown below:

In [28]:
a, b = 1, 2

In [29]:
a

1

In [30]:
b

2

In [31]:
b, a = a, b

In [32]:
a

2

In [33]:
b

1

#####
Variable unpacking is commonly used is iterating over sequences of tuples or lists.

In [34]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [35]:
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

#####
In instances where one wants to "pluck" a few elements from the beginning of a tuple. A special syntax *rest is used to do this. And is also used in function signatures to capture an arbitrarily long list of positional arguments.

In [36]:
values = 1, 2, 3, 4 ,5

In [37]:
a, b, *rest = values

In [38]:
a

1

In [39]:
b

2

In [40]:
rest

[3, 4, 5]

#####
This rest bit is sometimes something you want to discard; there is nothing special about the rest name. As a matter of convention, many Python programmers will use the underscore (_) for unwanted variables.

In [41]:
a, b, *_ = values

#### Tuple Methods
Since the size and contents of a tuple cannot be modified, it is very light on instance methods. A particularly useful one (also available on lists) is count, which counts the number of occurrences of a value.

In [42]:
a = (1, 2, 2, 2, 3, 4, 2 )

In [43]:
a.count(2)

4

### List
These are variable length and their contents can be modified in
place. Lists are mutable. You can define them using square brackets [] or using the list type function.

In [44]:
a_list = [2, 3, 7, None]

In [45]:
tup = ("foo", "bar", "baz")

In [46]:
b_list = list(tup)

In [47]:
b_list

['foo', 'bar', 'baz']

In [49]:
b_list[1] = "peekaboo"

In [50]:
b_list

['foo', 'peekaboo', 'baz']

#####
Lists and tuples are semantically similar (though tuples cannot be modified) and can be used interchangeably in many functions.
The list built-in function is frequently used in data processing as a way to materialize an iterator or generator expression.

In [51]:
gen = range(10)

In [52]:
gen

range(0, 10)

In [53]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and Removing elements 
Elements can be appended to the end of the list with the append method.

In [54]:
b_list.append("dwarf")

In [55]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

#####
Using insert you can insert an element at a specific location in the list.

In [56]:
b_list.insert(1, "red")

In [57]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

#####
The insertion index must be between 0 and the length of the list, inclusive.

#####
The inverse operation to insert is pop, which removes and returns an element at a particular index.

In [58]:
b_list.pop(2)  # Removes and returns the item at index 2

'peekaboo'

In [59]:
b_list

['foo', 'red', 'baz', 'dwarf']

#####
Elements can be removed by value with remove, which locates the first such value and removes it from the list.

In [60]:
b_list.append("foo")

In [61]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [62]:
b_list.remove("foo")

In [63]:
b_list

['red', 'baz', 'dwarf', 'foo']

#####
If performance is not a concern, by using append and remove, you can use a Python list as a set-like data structure.

In [65]:
# Checking if a list contains a value using the in keyword.
"dwarf" in b_list

True

In [66]:
# The keyword not can be  used to negate the in keyword.
"dwarf" not in b_list

False

#####
Checking whether a list contains a value is a lot slower than doing so with dictionaries and sets, as Python makes a linear scan across the values of the list, whereas it can check the others (based on hash tables) in constant time.

#### Concatenating and Combining lists
Similar to tuples, adding two lists together with + concatenates them.

In [67]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

#####
If you have a list already defined, you can append multiple elements to it using the "extend" method.

In [68]:
x = [4, None, "foo"]

In [69]:
x.extend([7, 8, (2, 3)])

In [70]:
x

[4, None, 'foo', 7, 8, (2, 3)]

#####
NB: List concatenation by addition is a comparatively expensive operation since
a new list must be created and the objects copied over. 

Using extend to append elements to an existing list, especially if you are building up a large list, is usually preferable. Thus:

In [ ]:
# This is faster than concatenation alternative
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

In [ ]:
# The concatenative alternative.
everything = []
for chunk in list_of_lists:
    everything = everything + chunk

#### Sorting
A list can be sorted in place (without creating a new object) by calling its sort function.

In [73]:
a = [7, 2, 5, 1, 3]

In [74]:
a.sort()

In [75]:
a

[1, 2, 3, 5, 7]

#####
Sort has the ability to pass a secondary sort key (a function that produces a value to use to sort the objects).

E.g, we could sort a collection of strings by their lengths

In [76]:
b = ["saw", "small", "He", "foxes", "six"]

In [77]:
b.sort(key=len)

In [78]:
b

['He', 'saw', 'six', 'small', 'foxes']

#### Slicing
This is a feature that lets you extract portions (subsequences) of sequences like strings, lists, and tuples. Think of it as cutting out specific pieces from a larger collection.

In [79]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [80]:
seq[1:5]

[2, 3, 7, 5]

#####
Slices can also be assigned with a sequence

In [81]:
seq[3:5] = [6, 3]

In [82]:
seq

[7, 2, 3, 6, 3, 6, 0, 1]

#####
While the element at the start index is included, the stop index is not included, so that the number of elements in the result is stop - start.

Either the start or stop can be omitted, in which case they default to the start of the sequence and the end of the sequence, respectively.

In [83]:
seq[:5]

[7, 2, 3, 6, 3]

In [84]:
seq[3:]

[6, 3, 6, 0, 1]

#####
Negative indices slice the sequence relative to the end.

In [85]:
seq[-4:]

[3, 6, 0, 1]

In [86]:
seq[-6:-2]

[3, 6, 3, 6]

In [90]:
# This is a feature that lets you extract portions (subsequences) of sequences like strings, lists, and tuples. Think of it as cutting out specific pieces from a larger collection.
seq[::2]

[7, 3, 3, 0]

In [89]:
# A clever use of this is to pass -1, which has the useful effect of reversing a list or tuple.
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

### Dictionary

These are sometimes know as hash maps or associative arrays.
They store a collection of key-value pairs, where key and value are objects.

Each key is associated with a value so that a value can be conveniently retrieved, inserted, modified, or deleted given a particular key. 

One approach for creating a dictionary is to use curly braces {} and colons to separate keys and values.

In [91]:
empty_dict = {}

In [93]:
d1 = {"a": "some value", "b": [1, 2, 3, 4]}

In [94]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

#####
Insert or set elements can be accessed using the same syntax as for accessing elements of a list or tuple.

In [95]:
d1[7] = "an integer"

In [96]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [97]:
d1["b"]

[1, 2, 3, 4]

#####
To check whether a dictionary contains a key one can use the same syntax used for checking whether a list or tuple contains a value.

In [98]:
"b" in d1

True

#####
One can delete values using either the del keyword or the pop method (which simultaneously returns the value and deletes the key)

In [99]:
d1[5] = "some value"

In [100]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [101]:
d1["dummy"] = "another value"

In [102]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [103]:
del d1[5]

In [104]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [105]:
ret = d1.pop("dummy")

In [107]:
ret

'another value'

In [108]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

#####
The keys and values method gives you iterators of the dictionary’s keys and values, respectively. The order of the keys depends on the order of their insertion, and these functions output the keys and values in the same respective order.

In [109]:
list(d1.keys())

['a', 'b', 7]

In [110]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

#####
To iterate over both keys and values, the items method is used to iterate over the keys and values as 2-tuples.

In [111]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

#####
One can merge one dictionary into another using the update method.

The update method changes dictionaries in place, so any existing keys in the data passed to update will have their old values discarded.

In [112]:
d1.update({"b": "foo", "c": 12})

In [113]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating Dictionaries from Sequences
It’s common to occasionally end up with two sequences that you want to pair up
element-wise in a dictionary. As a first cut, you might write code like this:

In [ ]:
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

#####
The dict function accepts a list of 2-tuples as a dictionary is essentially a collection of 2-tuples.

In [115]:
tuples = zip(range(5), reversed(range(5)))

In [116]:
tuples

In [117]:
mapping = dict(tuples)

In [118]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default Values

In [ ]:
# It's common to have logic like
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

#####
The dictionary methods "get" and "pop" can take a default value to be returned, so that the above if-else block can be written simply as:

In [ ]:
value = some_dict.get(key, default_value)

#####
get by default will return None if the key is not present, while pop will raise an exception. With setting values, it may be that the values in a dictionary are another kind of collection, like a list.

For example, you could imagine categorizing a list of words by their first letters as a dictionary of lists:

In [121]:
words = ["apple", "bat", "bar", "atom", "book"]

In [122]:
by_letter = {}

In [124]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [125]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

#####
The setdefault dictionary method can be used to simplify this workflow. The
preceding for loop can be rewritten as:

In [127]:
by_letter = {}

In [128]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [129]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

#####
To use a list as a key, one option is to convert it to a tuple, which can be hashed as long as its elements also can be:

In [130]:
d = {}

In [131]:
d[tuple([1, 2, 3])] = 5

In [132]:
d

{(1, 2, 3): 5}

### Set
This is an unordered collection of unique elements. It can be created in two ways:

1) via the set function

2) via a set literal with curly braces

In [133]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [134]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

#####
Sets support mathematical set operations like union, intersection, difference, and symmetric difference.

Consider these two example sets;

In [135]:
a = {1, 2, 3, 4, 5}

In [136]:
b = {3, 4, 5, 6, 7, 8}

#####
The union of these two sets is the set of distinct elements occurring in either set. This can be computed with either the union method or the | binary operator.

In [137]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [138]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

#####
The intersection contains the elements occurring in both sets. The & operator or the intersection method can be used.

In [139]:
a.intersection(b)

{3, 4, 5}

In [140]:
a & b

{3, 4, 5}

#####
The logical set operators have in-place counterparts, which enable one to replace the contents of the st on the left side of the operation with the result. For very large sets, this may be more efficient.

In [141]:
c = a.copy()

In [142]:
c |= b

In [143]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [144]:
d = a.copy()

In [145]:
d &= b

In [146]:
d

{3, 4, 5}

#####
Like dictionary keys, set elements generally must be immutable, and they must be hashable (which means that calling hash on a value does not raise an exception). 

In order to store list-like elements (or other mutable sequences) in a set, you can convert them to tuples.

In [147]:
my_data = [1, 2, 3, 4]

In [148]:
my_set = {tuple(my_data)}

In [149]:
my_set

{(1, 2, 3, 4)}

#####
One can also check if a set is a subset of (is contained in) or a superset of (contains all elements of) another set.

In [150]:
a_set = {1, 2, 3, 4, 5}

In [151]:
{1, 2, 3}.issubset(a_set)

True

In [152]:
a_set.issuperset({1, 2, 3})

True

#####
Sets are equal if and only if their contents are equal.

In [153]:
{1, 2, 3} == {3, 2, 1}

True

### Built-In Sequence Functions

#### Enumerate
This is a built-in Python function that adds a counter to an iterable (like a list, tuple, or string) and returns it as an enumerate object. This is particularly useful when you need both the index and the value of each item while looping.

It’s common when iterating over a sequence to want to keep track of the index of the current item.

In [ ]:
# Basic Syntax
enumerate(iterable, start=0)

In [ ]:
# Sample od do-it-yourself approach
index = 0
for value in collection:
    #do something with value
    index += 1

#####
Python has a built-in function, enumerate, which returns a sequence of (i, value) tuples.

In [ ]:
for index, value in enumerate(collection):
    # do something with value

In [157]:
fruits = ['apple', 'banana', 'orange']
for index, fruit in enumerate(fruits):
    print(f"{index}: {fruit}")

0: apple
1: banana
2: orange

In [158]:
for index, fruit in enumerate(fruits, start=1):
    print(f"{index}: {fruit}")

1: apple
2: banana
3: orange

#### Sorted
This is a function that returns a new sorted list from any iterable. It doesn't modify the original iterable - it creates and returns a new sorted list from the elements of any sequence.

In [ ]:
# Basic Syntax
sorted(iterable, key=None, reverse=False)

In [160]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [161]:
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [ ]:
numbers = [3, 1, 4, 1, 5]
sorted_numbers = sorted(numbers)
print(sorted_numbers)  
print(numbers)         

# Strings
letters = ['c', 'a', 'b']
print(sorted(letters))  

# Works with any iterable
print(sorted("hello"))

[1, 1, 3, 4, 5]
[3, 1, 4, 1, 5]
['a', 'b', 'c']
['e', 'h', 'l', 'l', 'o']

In [ ]:
## Using key parameters
words = ['apple', 'pie', 'banana']
# Sort by length
print(sorted(words, key=len))  

# Sort by last character
print(sorted(words, key=lambda x: x[-1])) 

# Sort case-insensitive
names = ['Alice', 'bob', 'Charlie']
print(sorted(names, key=str.lower))

['pie', 'apple', 'banana']
['banana', 'apple', 'pie']
['Alice', 'bob', 'Charlie']

In [164]:
##  Using reverse parameter
numbers = [3, 1, 4, 1, 5]
print(sorted(numbers, reverse=True))  # [5, 4, 3, 1, 1]

[5, 4, 3, 1, 1]

#### Zip
This is a function that combines multiple iterables (lists, tuples, strings, etc.) by pairing up their elements. It returns an iterator of tuples where each tuple contains one element from each iterable.

In [ ]:
# Basic Syntax
zip(*iterables)

In [1]:
seq1 = ["foo", "bar", "baz"]

In [2]:
seq2 = ["one", "two", "three"]

In [3]:
zipped = zip(seq1, seq2)

In [4]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

##### 
Zip can take a random number of sequences and the number of elements it produces is determined by the shortest sequence.

In [5]:
seq3 = [False, True]

In [7]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [8]:
# How to simultaneously iterating over multiple sequences using zip combined with enumerate
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, b: {b}")

0: foo, b: one
1: bar, b: two
2: baz, b: three

##### Reversed
This function iterates over the elements of a sequence in reverse order.

In [9]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### List, Set, and Dictionary Comprehensions

List comprehensions form a new list by filtering the elements of a collection, transforming the element passing the filter into one concise expression.

In [ ]:
# General syntax 
[expr for value in collection if condition]

In [ ]:
# equivalent for loop
result = []
for value in collection:
    if condition:
        result.append(expr)

In [12]:
# Eliminating the filter condition leaving only the expression
# E.g given a list of strings, we could filter out strings with length 2 or less and convert them to uppercase
strings = ["a", "as", "bat", "car", "dove", "python"]

In [11]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

#####
Set and dictionary comprehensions are a natural extension, producing sets and dictionaries in an idiomatically similar way instead of lists.

In [ ]:
# A dictionary comprehension
dict_comp = {key-expr: value-expr for value in collection
             if condition}

In [ ]:
# A set comprehension 
# Looks like the list comprehension except with curly braces instead of square brackets
set_comp = {expr for value in collection if condition}

In [14]:
# E.g Suppose we wanted a set containing just the lengths of the strings contained in the collection; we could easily compute this using a set comprehension
unique_lengths = {len(x) for x in strings}

In [15]:
unique_lengths

{1, 2, 3, 4, 6}

In [16]:
# E.g Creating a lookup map of the strings for their location in the list
loc_mapping = {value: index for index, value in enumerate(strings)}

In [17]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested List Comprehensions

In [18]:
# Example of a list of lists containing some English and Spanish names
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
           ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [19]:
# Getting single list containing all names with two or more a’s in them using a simple for loop
names_of_interest = []

In [20]:
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)

In [21]:
names_of_interest

['Maria', 'Natalia']

In [22]:
# Wrapping the above logic in a single nested list comprehension
result = [name for names in all_data for name in names
         if name.count("a") >= 2]

In [23]:
result

['Maria', 'Natalia']

In [ ]:
# An example of flattening a list of tuples of integers into simple list of integers
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [25]:
flattened = [x for tup in some_tuples for x in tup]

In [26]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
# A nested for loop instead of a list comprehension
flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [ ]:
# A list comprehension inside a list comprehension
   # The outer comprehension: [... for tup in some_tuples] iterates through each tuple
   # The inner comprehension: [x for x in tup] converts each tuple to a list
[[x for x in tup] for tup in some_tuples]

### The output is the comprehension

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Functions

In [30]:
# Declaring a function
def my_function(x, y):
    return x + y

In [34]:
# Example showing when a a line with return is reached, the value or expression after return is sent to the context where the function was called
my_function(1, 2)

3

In [32]:
result = my_function(1, 2)

In [33]:
result

3

In [41]:
# There is no issue with having multiple return statements
# Returning None after a function without a return statement
def function_without_return(x):
    print(x)

In [44]:
result = function_without_return("hello!")

hello!

In [45]:
print(result)

None

In [ ]:
# positional arguments and keyword arguments
# keyword arguments - used to specify default values or optional arguments
# Defining a function with keyword arguments
def my_function2(x, y, z=1.5):   # z is a keyword argument with a default value of 1.5
    if z > 1:
       return z * (x + y)
    else:
       return z / (x + y)

In [ ]:
# keyword arguments are optional, all positional arguments must be specified when calling a function
# passing values to tje keyword argument with or without the keyword provided (Using keyword is encouraged)
my_function2(5, 6, z =0.7)

0.06363636363636363

In [48]:
my_function2(3.14, 7, 3.5)

35.49

In [49]:
my_function2(10, 20)

45.0

#####
NB: The keyword arguments (can be specified in any order) must follow the positional arguments (if any).

###

#### Namespaces, Scope, and Local Functions

In [50]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [ ]:
# When func() is called, the empty list a is created, five elements are appended, and then a is destroyed when the function exits. Suppose instead we had declared a as follows
a = []

In [52]:
def func():
    for i in range(5):
        a.append(i)

In [ ]:
# Each call to a func will modify list a
func()

In [54]:
a

[0, 1, 2, 3, 4]

In [55]:
func()

In [56]:
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [57]:
# Declaring a variable explicitly using the global keyword when assigning variables outside the function's scope
a = None

In [58]:
def bind_a_variable():
    global a
    a = []
bind_a_variable()

In [59]:
print(a)

[]

#### Returning Multiple Values####

In [63]:
# Syntax for returning Multiple Values from a function
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [64]:
a, b, c = f()

In [62]:
# Altenative example of returning multiple values
return_value = f()